/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*COLOR OPTIONS: 
Dark Orange #ff9f1c
Light Orange #ffbf69
White #ffffff
Tan ##FFEFD5
Light Blue #cbf3f0
Teal Blue #2ec4b6
Dark Green #0b6e4f
Light Green #63d471
*/

/*FONT OPTIONS:
font-family: 'Nunito', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;*/

/*MY CODE STARTS HERE*/
*{
    box-sizing:border-box;
    max-width:100%;
}
/* HEADER SECTION*/
html{
    font-size: 10px;
    font-family: 'Quattrocento Sans', sans-serif;
}

header,footer{
 background:#2ec4b6;
 padding: 2%;
}
h1{
    width:100%;
    font-family:'Quattrocento Sans', sans-serif;
    color: #ffffff;
    font-size: 6rem;
}

nav{
    display:flex;
    width:35%;
    justify-content:space-between;
}
a{
    text-decoration:none;
    font-family:'Quattrocento Sans', sans-serif;
    padding:1% 3%;
    color: #ffffff;
    font-size:2rem;
}
a:hover{
    text-decoration:underline;
}
/* TOP ABOUT ME SECTION WITH PHOTO*/
.left{
    width:40%
}
.left img{
    width: 90%;
    display:flex;
    justify-content:center;
}
.right{
    display:flex;
    flex-direction: column;
    background: #ffb95eaf;
    justify-content: center;
    align-items: center;
    width:90%;
    }
.top-of-page{
    display:flex;
    background:#FFFFFF;
    padding: 1%;
}
h2{
    font-family:'Quattrocento Sans', sans-serif;
    color: #ffffff;
    font-size:5rem;    
}
.right button{
    margin: 1%;
    background: #2ec4b6;   
    border: 1px solid #ffffff;
    color:#ffffff;
    padding:1% 2%;
    font-size: 1.8rem;
}
.right p{
    margin: 1%;
    text-align:center;
    color:#ffffff;
    font-size: 2rem;
}

/* GALLERY SECTION*/

.gallery{
    /* width:100%; */
    display:flex;
    flex-wrap:wrap;
    padding: 2% 0 0 0;
}
.gallery div{
    width: 25%;
    display:flex;
    flex-flow: column;
    align-items:center;
    justify-content:space-evenly;
}
.gallery img{
    width: 96%;
}
.gallery p{
    font-size:1.3rem;
}
.contact{
       display:flex;
       flex-direction:column;
       align-items: center;
       margin:4% 0;
   }

   h3{
       color:white;
       font-size:1.8rem;
   }
.contact button{
    margin: 1%;
    background: #2ec4b6;   
    border: 1px solid #ffffff;
    color:#ffffff;
    padding:1% 2%;
    font-size: 1.8rem;
}
.contact a{
    width:15%;
    margin-top: 1%;
}
button:hover{
    background:white;
    color:#2ec4b6;
}

/****************  DEVICE WIDTH 800PX ***************/

@media(max-width:800px){
/* GALLERY SECTION*/
.right p{
    text-align:center;
    margin:0 10%;
}



/***************  DEVICE WIDTH 400px -changed to 474px because that is where my code began to break.*****************/

@media(max-width:474px){
    
/* HEADER SECTION*/    
h1{
    font-size: 4rem;
}
nav a{
    font-size:1.8rem;
}
    
/* TOP ABOUT ME SECTION WITH PHOTO*/
.top-of-page{
    display:flex;
    justify-content: space-between;
}
.left{
    width:49%
}
.left img{
    width: 100%;
}
.right{
    width:49%;
    display:flex;
    align-items:center;
}
h2{
    font-size:2.7rem;
    text-align:center;
}
/* Added margins around button to keep button mostly centered; */
.right button{
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
.right p{
    font-size: 1.5rem;
    text-align:center;
    margin:0 5%;
}

/* GALLERY SECTION 400px */
.gallery div{
    width:50%;
}
.gallery img{
    transform: rotate(90deg);
}
.image5{
    order:1;
}
.image1{
    order:2;
}
.image6{
    order:3;
}
.image2{
    order:4;
}
.image7{
    order:5;
}
.image3{
    order:6;
}
.image8{
    order:7;
}
.image4{
    order:8;
}
/* CONTACT SECTION 400px */

h3{
    font-size:1.5rem;
}
.contact button{
    font-size: 1.4rem;
}


}/* closing bracket for media 400px. */