/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*COLOR OPTIONS: 
Dark Orange #ff9f1c
Light Orange #ffbf69
White #ffffff
Tan ##FFEFD5
Light Blue #cbf3f0
Teal Blue #2ec4b6
Dark Green #0b6e4f
Light Green #63d471
*/

/*FONT OPTIONS:
font-family: 'Nunito', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;*/

/*MY CODE STARTS HERE*/

/* HEADER SECTION*/
html{
    font-size: 10px;
    font-family: 'Quattrocento Sans', sans-serif;
}

header,footer{
 background:#2ec4b6;
 padding: 2%;
}
h1{
    width:100%;
    font-family:'Quattrocento Sans', sans-serif;
    color: #ffffff;
    font-size: 6rem;
}

nav{
    display:flex;
    width:28%;
    justify-content:space-between;
}
a{
    text-decoration:none;
    font-family:'Quattrocento Sans', sans-serif;
    padding:1% 2%;
    color: #ffffff;
    font-size:2rem;
}

/* TOP ABOUT ME SECTION WITH PHOTO*/
.left{
    width:40%
}
.left img{
    width: 90%;
}
.right{
    display:flex;
    flex-direction: column;
    background: #ffb95eaf;
    justify-content: center;
    align-items: center;
    width:90%;
    }
.top-of-page{
    display:flex;
    background:#FFFFFF;
    padding: 1%;
}
h2{
    font-family:'Quattrocento Sans', sans-serif;
    color: #ffffff;
    font-size:5rem;    
}
.right button{
    margin: 1%;
    background: #2ec4b6;   
    border: 1px solid #ffffff;
    color:#ffffff;
    padding:1% 2%;
    font-size: 1.8rem;
}
.right p{
    margin: 1%;
    color:#ffffff;
    font-size: 2rem;
}

.gallery{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.gallery img{
    width: 25vh;
    height:25vh;
    border:1px solid red;
}
   